# Dependency directories
node_modules

# Logs and OS junk
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Environment/configs
.env
.env.development
!.env.production

# Git & Editor metadata
.git
.gitattributes
.gitignore
.vscode
.idea

# Test & coverage files
coverage
*.test.*
*.spec.*
*.snap

# Sonar
sonar-project.properties

# Misc
*.swp
*.swo
*.bak
*.tmp

# Lint cache
.eslintcache